@font-face{
	src:url('fonts/PoppinsLight.ttf');
	font-family: 'Poppins';
	font-weight: 300;
}
@font-face{
	src:url('fonts/PoppinsReg.ttf');
	font-family: 'Poppins';
	font-weight: 400;
}
@font-face{
	src:url('fonts/PoppinsSem.ttf');
	font-family: 'Poppins';
	font-weight: 600;
}
@font-face{
	src:url('fonts/Poppins-Bold.ttf');
	font-family: 'Poppins';
	font-weight: 700;
}
@keyframes animationscale{
  0%{
    transform:scale(0.5);
  }
  100%{
    transform:scale(1.5, 1);
  }
}
@keyframes animationrotate{
	0%{
		transform: rotate(o);
	}
	100%{
		transform: rotate(360deg);
	}
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins';
}
.title{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 4.78px;
	margin: 0;
	max-width: 100px;
}
.links{
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 252px;
	padding:6px 0 0 0;
	margin: 1px -1px 0 2px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 2.8;
	letter-spacing: 2.4px;
}
.link{
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.menu-container{
	display: flex;
	justify-content: space-between;
	margin: -5px 0px 0px 4px;
}
.header{
	background-image: url(images/main.jpg);
	height: 685px;
	background-size:cover;
	background-repeat: no-repeat;
	padding: 28px 41px 0 34px;
	position: relative;
	top: -8px
}
.header-container{
	position:absolute;
	top: 226px;
}
.about-text{
	font-size: 12px;
	margin: 32px 0 59px 0px;
	width: 402px;
	line-height: 1.6;
	letter-spacing: 0.6px;
	font-weight: 400;
}
.subtitle{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 0.9;
	letter-spacing:2.7px;
}
.subtitle-hover{
	padding:0;
}
.name{
	padding: 0;
}
.button{
	color: #fff;
	border: 2px solid #fff;
	border-radius: 24.2px;
	font-size: 12px;
	font-weight: 800;
	text-align: center;
	background: transparent;
	padding: 3px 42px 2px 43px;
	width: 194px;
	text-transform: uppercase;
	line-height: 2.8;
	letter-spacing: 2.47px;
}
.button-works{
	padding-top: 3px;
	margin: 0 0 0 11px;
}
.button:hover{
	color: #6a4a4c;
	cursor: pointer;
	background: #fff;
}
.contact{
	margin-right: 14px;
}
.about{
	display: flex;
	justify-content: space-around;
	margin: 33px 23px 58px 35px; 
}
.portfolio-image{
	width: 308px;
	height: 340px;
	margin-bottom: 50px;
}
.subtitle-name{
	margin: 54px;
}
.download{
	display: flex;
	justify-content: left;
	margin: -1px 0 0 -14px;
}
.icon-download{
	width: 21px;
	height: 21px;
	padding-left: 90px;
	margin-top: -2px;
}
.cv{
	font-size: 12px;
	color: #000;
	line-height: 1.5;
	letter-spacing: 0.48px;
	font-weight: 700;
	margin-left: 12px;
}
.cv{
	animation: animationrotate 2s infinite;
}
.resume{
	margin:-14px 0 0 55px;
}
.about-me-container{
	display: flex;
	justify-content: space-between;
}
.about-me-text{
	max-width: 400px;
	margin: 0;
}
.about-me-photographer{
	font-size: 12px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.5;
	letter-spacing: 0.48px;
	margin-top: 28px;
	width: 350px;
}
.about-me-photographer-cv{
	font-size: 12px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.5;
	letter-spacing: 0.48px;
	margin:58px 0 32px 88px;
	width: 340px;
}
.experience{
	display: flex;
	justify-content: 50%;
	margin: 52px 0 0 0;
}
.work-experience{
	width: 350px;
}
h3{
	font-size: 12px;
	font-weight: 700;
	line-height: 1.6;
	letter-spacing: 0.48px;
	margin: 24px 0 0 0;
	width: 260px;
}
.art-director{
	max-width: 185px;
}
.my-latest-works{
	background:#d1bac8;
	margin:16px 0px 13px 0px; 
}
.latest-works-title{
	text-align: center;
	padding: 40px 0px 28px 8px;;
}
.latest-works{
	letter-spacing: 2px;
	padding-left: 4px;
	margin: 16px 0 12px 0;
}
.projects{
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.5;
	letter-spacing: 0.48px;
}
.links-works{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0 33px 65px 37px;
}
.portfolio-item{
	position: relative;
	height: 234px;
}
.portfolio-item::before{
	content: "";
	background: #fff;
	width: 100%;
	height: 100%;
	opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	transition: all 2s;
}
.portfolio-link{
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.48px;
	margin-left: 2px;
	padding-bottom: 18px;
}
.portfolio-hover{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 18px 0 17px 38px;
	opacity: 0;
	transition: all 2s;
	margin: 7px 0 11px 0;
}
.portfolio-item:hover .portfolio-hover{
	opacity: 1;
}
.portfolio-item:hover::before{
	opacity: 1;
}
.portfolio-item:hover{
	cursor: pointer;
}
.works{
	width: 364px;
	height: 234px;
}
.freelance{
	padding:34px 0 0 74px;
	width: 340px;
}
.freelance-h3{
	width: 190px;
}
.working-period{
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.9px;
	color: rgba(0, 0, 0, 0.6);
}
.subtitle-small{
	font-size: 12px;
	text-transform: lowercase;
	letter-spacing: 0.48px;
}
.name-small{
	line-height: 1px;
}
.input{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.3);
	line-height: 2.8;
	letter-spacing: 2.5px;
	border: none;
	border-bottom: 5px solid rgba(0, 0, 0, 0.3);
	height: 53.6px;
	margin: 19px 0 2px 0;
}
.textarea{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0,3);
	line-height: 2.8;
	letter-spacing: 3px;
	border: none;
	border-bottom: 5px solid rgba(0,0,0,0.3);
	width: 360px;
	height: 171px;
	padding-top: 9px;
}
.textarea:focus{
	outline: none;
}
.text-form{
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.5;
	letter-spacing: 0.48px;
	font-weight: 600;
	text-align: center;
	margin-top: 39px;
}
.button-send{
	border: none;
	border-radius: 24.2px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	background: #000;
	padding: 7px 57px 3px 32px;;
	width: 214px;
	text-transform: uppercase;
	line-height: 2.8;
	letter-spacing: 2.87px;
	color: #fff;
	position: relative;
}
.button-send::before{
	position: absolute;
	content: '';
	display: block;
	top: 15px;
	right: 27px;
	background: url("images/right-arrow.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 12px;
}
.button-send:hover{
  color: #000;
  cursor: pointer;
  background: #d1bfcb;
}
.button-send{
	animation: animationscale 0s infinite;
}
.button-send-message{
	margin: -123px 168px 150px 514px;
}
.form-section{
	position: relative;
}
.form-container{
	display: flex;
	justify-content: center;
	padding: 58px 371px 163px 237px;
	width: 765px;
}
.inputs{
	display:flex;
	flex-direction: column; 
	width: 360px;
	padding-right: 46px;
	height: 185px;
}
.input:focus{
	outline: none;
}
.input-name{
	height: 43px;
	padding-top: 3px;
	margin: 12px 0 6px 0;
}
.input-email{
	height: 57px;
}
.input-subject{
	height: 61px;
}